<!DOCTYPE html>
<html>

<head>
    <title>Flashcard</title>
    <link href='style/flashcards.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navbar}}
    <h2>Flashcards</h2>
    <div id='createCard'>
            <form id="card-create-form" action="/addCard" method="post">
                <textarea class="cardForm" id="questionInput" name="question" rows="4" cols="40" maxlength="25" placeholder="Question"></textarea>
                <textarea class="cardForm" id="answerInput" name="answer" rows="4" cols="40" maxlength="25" placeholder="Answer"></textarea>
                <input type='submit' class='button' id='saveButton' value='Save'>
            </form>
    </div>

    	
    	<div id="cardDisplay" form="delete-card-form">
            <div id="currentDisplay">Question</div>
    		<div id="questionDisplay" name="currentQuestion" style="display: block">question</div>
    		<div id="answerDisplay" name="currentAnswer" style="display: none">answer</div>
    	</div>
        <input type='submit' class="button" id="flipCard" value="FLIP"/>

    	<div id="navigate">
	    	<input type='submit' class="button" id="previousCard" value="<"/> 
	    	<div id="current">#</div>/<div id="total">#</div>
	    	<input type='submit' class="button" id="nextCard" value=">"/>
    	</div>
    	
        <form id="delete-card-form" action="/deleteCard" method="post">
           <input type='submit' class='button' id='saveButton' value='Delete'>
        </form>

    <script src='js/flashcards.js'></script>
</body>

</html>