<!DOCTYPE html>
<html>

<head>
    <title>Flashcard</title>
    <link href='style/flashcards.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navbar}}
    <h2>Flashcard</h2>
    </br>
    <textarea id="question" rows="4" cols="40" maxlength="25" placeholder="Question"></textarea>
    </br>
    <textarea id="answer" rows="4" cols="40" maxlength="25" placeholder="Answer"></textarea>
    </br>
    <button id="save" type="button">Save</button>
    <script type="text/javascript" src="flashcards.js"></script>
    <script src='js/flashcards.js'></script>
</body>
{{navbar}}

</html>