<!DOCTYPE html>
<html>

<head>
    <title>Flashcard</title>
    <link href='style/flashcards.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navbar}}
    <h2>Flashcard</h2>
    <div id='createCard'>
            <form id="card-create-form" action="/addCard" method="post">
                <textarea class="cardForm" id="questionInput" name="question" rows="4" cols="40" maxlength="25" placeholder="Question"></textarea>
                <textarea class="cardForm" id="answerInput" name="answer" rows="4" cols="40" maxlength="25" placeholder="Answer"></textarea>
                <button id="save" type="button">Save</button>
            </form>
    </div>

    <script type="text/javascript" src="flashcards.js"></script>
    <script src='js/flashcards.js'></script>
</body>
{{navbar}}

</html>