<!DOCTYPE html>
<html>

<head>
    <title>Flashcard</title>
    <link href='style/flashcards.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navbar}}
    <h2>Flashcards</h2>
    <div id='createCard'>
            <form id="card-create-form" action="/addCard" method="post">
                <textarea class="cardForm" id="questionInput" name="question" rows="4" cols="40" maxlength="25" placeholder="Question"></textarea>
                <textarea class="cardForm" id="answerInput" name="answer" rows="4" cols="40" maxlength="25" placeholder="Answer"></textarea>
                <button id="save" type="button">Save</button>
            </form>
    </div>

    <div id="slideShow">
    	
    	<div id="cardDisplay">
    		<div id="questionDisplay" name="currentQuestion">none</div>
    		<div id="answerDisplay" name="currentAnswer">none</div>
    	</div>

    	<div id="navigate">
	    	<button id="previousCard"><</button> 
	    	<div id="current">#</div>/<div id="total">#</div>
	    	<button id="nextCard">></button>
    	</div>
    	
        <form id="delete-card-form" action="/deleteCard" method="post">
    	   <button id="delete" type="button">Delete</button>
        </form>
    </div>

    <script src='js/flashcards.js'></script>
</body>

</html>