<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <link href='style/log.css' rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="Login">
        <div class="userAuth" id="registerDiv" style="left:20vw;">
            <form id="register-form" action="/signup" method="post">
                <input class="userAuthForm" id="emailInput" name="email" type="text" placeholder="Email" />
                <input class="userAuthForm" id="usernameInput" name="username" type="text" placeholder="Username" />
                <input class="userAuthForm" id="passwordInput" name="password" type="password" placeholder="Password" />
                <input class="userAuthForm" id="register_button" type="submit" value="Register" onclick='return checkSignup()'/>
            </form>
        </div>
        <div class="userAuth" id="loginDiv" style="right:20vw;">
            <form id="login-form" action="/login" method="post">
                <input class="userAuthForm" id="email" name="email" type="text" placeholder="Enter Email" value="" />
                <input class="userAuthForm" id="password" name="password" type="password" placeholder="Enter Password" value="" />
                <input class="userAuthForm" id="login_button" type="submit" value="Login"" />
                {{error}}
            </form>
        </div>
    </div>
    
    <script src='js/signup.js'></script>
</body>
</html>